*{
    margin: 0;
    padding: 0;
}

body{
    background-color:beige;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
.mainContainer{
    width: 90vw;
    height: 80vh;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 'nav nav nav ' 'img img sideNav' 'title desc sideNav' 'footer footer footer';
    gap: 10px;


}
.navContainer{
    background-color: blue;
    grid-area: nav;
}
.imgContainer{
    background-color: green;
    grid-area: img;
}
.titleContainer{
    background-color: yellow;
    grid-area: title;
}
.descContainer{
    background-color: pink;
    grid-area: desc;
    
}
.sideNavContainer{
    background-color: black;
    grid-area: sideNav;
}
.footerContainer{
    background-color: purple;
    grid-area: footer;
}

