*{
    margin: 0;
    padding: 0;
}

body{
    background-color:hsl(36, 100%, 99%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: white;
}
.mainContainer{
    width: 90vw;
    height: 90vh;
    background-color:hsl(36, 100%, 99%)
    ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 'nav nav nav ' 'img img sideNav' 'title desc sideNav' 'footer footer footer';
    gap: 10px;


}
.navContainer{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(65, 63, 63);

  
}
.logo{
    font-weight: bolder;
    font-size: 40px;
}



.nav {
    /* Styles for the container */
    margin: 20 0;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-links li {
    margin-right: 30px;
    font-size: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color:black;
  }
  .menu-icon , .close-icon{
    display: none;
  }
.imgContainer{
    grid-area: img;

}
.imgContainer img{
    width: 100%;
    height: 40vh;
    object-fit: fit;
}
.titleContainer{
    grid-area: title;
    font-size: 50px;
    height: 5vh;
    font-weight:bolder;
    color: black;
    
}
.descContainer{
    grid-area: desc;
    height: 10vh;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: space-between;
}
.descContainer p{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}
.descBtn{
    border: none;
    height: 50px;
    margin-bottom: 2vh;
    margin-top: 1vh;
    color: hsl(36, 100%, 99%);
    background-color:  hsl(5, 85%, 63%);
    padding: 10px 40px;
    width: fit-content;
    border-radius: 5px;
    
}
.sideNavContainer{
    background-color:hsl(240, 100%, 5%);
    grid-area: sideNav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    padding: 30px 20px;
}
.navHeading{
    color:hsl(35, 77%, 62%);
    font-size: 30px;
}

.footerContainer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}
.footerItem{
    display: flex;
    gap: 20px;
    text-align: justify;
    margin-top: 15vh;
    height: 16vh;
}
.footerImg img{
    width: 90px;
    height: 100%;
    border-radius: 5px;
}
.content{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    padding-right: 2vw;
    padding-bottom: 5vh;
}
.content h1{
    color: hsl(235, 11%, 60%) ;

}
.contentTitle{
    font-weight: bold;
    font-size: 20px;
}
.contentDesc{
    color:  hsl(236, 13%, 42%);

}
.line{
    border: 2px solid hsl(236, 13%, 42%) ;
}
.item{
    padding-bottom: 20px;
}

.itemTitle{
    color: hsl(36, 100%, 99%);
}
.itemDesc{
color:  hsl(236, 13%, 42%) ;
}


@media screen and (max-width: 768px) {
    .mainContainer{
        display: flex;
        flex-direction: column;
        
    }
    .footerContainer{
        flex-direction: column;
        align-items: center;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .nav-links li{
        display: none;
    }
    .titleContainer{
        margin-top: 2vh;
        margin-bottom:10vh;
    }
    .descContainer{
        margin-top: 5vh;
        margin-bottom:15vh;
    }

}
